################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SISTEMA-CONTABILIDAD/.vs/SISTEMA-CONTABILIDAD/FileContentIndex/3ee1ae41-7bb1-40ca-a838-7779f016d1dc.vsidx
/SISTEMA-CONTABILIDAD/.vs/SISTEMA-CONTABILIDAD/FileContentIndex/6effc0d2-04b5-4217-9acd-0e09dea04e51.vsidx
/SISTEMA-CONTABILIDAD/.vs/SISTEMA-CONTABILIDAD/FileContentIndex/b3c66258-327c-4da4-830c-e0536e23ec9f.vsidx
/SISTEMA-CONTABILIDAD/.vs/SISTEMA-CONTABILIDAD/FileContentIndex/d6def679-8848-4920-be41-d41c8e973383.vsidx
/SISTEMA-CONTABILIDAD/.vs/SISTEMA-CONTABILIDAD/FileContentIndex/fd7870d2-0b08-4d0e-9b16-47ca9ed73a46.vsidx
